
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}

    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">ÖZET</h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                
                    <!-- ./col -->
                    
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.User</h3>
                         
                                <p>Kullanıcı</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>                   
                            <a href="/Admin/AppUser/List" class="small-box-footer">Kullanıcıları Görüntüle <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.Company</h3>
                               
                                <p>Şirketler</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                           
                            <a href="/Admin/Company/List" class="small-box-footer">Şirketleri Görüntüle <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

