@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">

        <span style="color:red;">@ViewBag.CurrentUser</span>
        <br />
        <h1>
            MAKE
            BETTER
            CHOICES
        </h1>
        <p class="lead">

        </p>
        @*<p><a href="/Account/LogOut" class="btn btn-primary btn-lg">ÇIKIŞ YAP</a></p>*@
        <p><a href="https://www.s360.com.tr/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>ABOUT US</h2>
        <p>
            We are sustainability specialists helping brands and corporates to make better choices. We believe in the power of businesses in driving positive change and scaling impact across the globe.
        </p>
        <p><a class="btn btn-default" href="https://www.s360.com.tr/About-Us">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SERVICES</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.s360.com.tr/Services">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CLIENTS</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.s360.com.tr/Clients">Learn more &raquo;</a></p>
    </div>
</div>